Tuneles/*
SqlDbxPro_3_60/*
LOGS_CTS_COBIS/*
Licencias/*
KevinTools/Migrar Datos de una BDD a otra BDD/ScriptsGenerados/*
JSON QUERIES/JSON Resulset/env/*
KevinTools/Generar Tabla resulset/logs/*
KevinTools/Migrar Datos de una BDD a otra BDD/logs/*